/bin
/obj
/extract-relogic/bin
/extract-relogic/obj
/statics
/Content/
/nuget


/node_modules
/public/_framework
/public/resources
/public/content
/dist
.env.local

terraria/Decompiled
terraria/libs
terraria/Terraria
terraria/ReLogic
public/app.ico
